@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

h2 {
  font-family: Dosis, sans-serif;
  color: #512200;
  font-size: 1.5rem;
  margin-left: 1em;
}

p {
  font-family: "Georgia sans-serif";
  color: #512200;
  font-size: 1rem;
  margin-left: 1.4em;
  margin-right: 3.5em;
}

.btn {
  background-color: #512200;
  padding: .4em .75em .5em;
  border-radius: 3px;
  color: #f0eee8;
  font-family: Dosis, sans-serif;
  margin-bottom: 5rem;
}

.link-card {
  background-color: #dcd4cd;
  border: 3px solid #785439;
  border-radius: 3px;
  padding-right: .4em;
  display: block;
}

.link-card:hover {
  background-color: #9a816d;
}

.link-card:hover .btn {

}

.btn-wrap {
  text-align: center;
}

dt {
  display: inline-block;
  width: 40%;
  margin-left: 1.5em;
  color: #512200;
}

dd {
  display: inline-block;
  width: 40%;
  margin: 0;
  color: #512200;
}
